.container {
  width: 900px;
  text-align: center;
  background-color: #cdd4e9;
  font-family: "Times New Roman", Times, serif;
  padding: 30px;
}
.img-thumbnail {
  width: 300px;
  background-color: ivory;
}

#address {
  color: navy;
}
h3 {
  color: navy;
  margin: auto;
  font-weight: bold;
}
